<div class="author-quote-wrap">
	<input class="toggle-quote" type="radio" id="AQ-1" name="quote" checked>
	<div class="author-quote">
		<div class="pull-left author-photo photo-a animated bounceInLeft" style="background-image:url('https://i.imgsafe.org/df9db8c6df.jpg')">
		</div>
		<div class="pull-right quote-content">
			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 423</div></div>
			<div class="quote-text animated rotateInDownRight">{{spark.name}}</div>
			<div class="quote-author animated lightSpeedIn">{{spark.influencer.firstname}} {{spark.influencer.lastname}}</div>
		</div>
	</div>
</div>

<br />
<br />
<div class="well" style="text-align:center; margin-top:20px;">
<h6 style="font-weight:bold"><mark>DETAILS</mark><br />{{spark.details}}</h6>
<h6 style="font-weight:bold"><mark>Verification Method</mark><br />{{spark.verification}}</h6>
<h6 style="font-weight:bold"><mark>Verification Criteria</mark><br />{{spark.criteria}}</h6>
<h6 style="font-weight:bold"><mark>Deadline</mark><br />{{spark.deadline}}</h6>

<div class="wrapper">
  <div class="file-upload">
    <input type="file" />
    <i class="material-icons" style="font-size:28px;">whatshot</i>
  </div>
  <div class="file-upload">
    <input type="file" />
    {{fa-icon "instagram"}}
  </div>
  <div class="file-upload">
    <input type="file" />
    {{fa-icon "facebook"}}
  </div>
  <div class="file-upload">
    <input type="file" />
    {{fa-icon "twitter"}}
  </div>
</div>

</div>

<div style="text-align:center;">
<br />
  <h2>Spark Activity</h2>
<ol class="activity-stream">
<li><i class="material-icons">whatshot</i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<li><i class="material-icons">whatshot</i> Morbi vitae libero sit amet dui ullamcorper ornare. Nullam ac purus a erat elementum varius eget ornare sem.</li>
<li><i class="material-icons">whatshot</i>Suspendisse ut purus dolor.</li>
<li><i class="material-icons">whatshot</i> Integer diam est, hendrerit sed bibendum et, mollis ornare ipsum.</li>
<li><i class="material-icons">whatshot</i> Aenean non turpis id arcu faucibus aliquet sed a mi. </li>
</ol>
</div>
<div style="text-align:center; margin-bottom:20px; width:100%; clearfix:auto;">
<ul class="pagination pagination-primary">
  <li><a href="#"><</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li class="active"><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">></a></li>
</ul>
</div>
