
{{#if influencer.id}}
<div class="profile-card">

  <header>


    <a href="http://kanishkkunal.in">
      <img src="http://livefreeandstart.com/wp-content/uploads/2015/08/1663453-e1441047502792.png">
    </a>

    <h1>{{influencer.firstname}} {{influencer.lastname}}</h1>
    <p>{{influencer.description}}</p>
    <div class="tagcloud01">
    <ul>
      {{#each tagArray as |tag|}}
      <li>{{#link-to 'search' tag.id}}{{tag.text}}{{/link-to}}</li>
      {{/each}}
    </ul>
    </div>
    {{tags}}
  {{#if isOwned}}
    {{#if editing}}
    <form>
        {{input type="text" class="input-sm"
                id="firstname"
                value=firstname}}
        {{input type="text" class="input-sm"
                id="lastname"
                value=lastname}}
        {{input type="text" class="input-sm"
                id="description"
                value=description}}
      <button type="submit" class="btn btn-primary btn-sm" {{action "submit"}}>
        Submit
      </button>
    </form>



    {{else}}
  <button type="submit" class="btn btn-primary btn-sm" {{action "edit"}}>
    Edit Profile
  </button>
  {{/if}}
    <br />
  {{/if}}
  </header>


  <!-- <div class="profile-bio">

  </div> -->

  <!-- some social links to show off -->
  <div class="profile-social-links">
    <ul class="profile-social-links">


    <li>
      {{#link-to 'index'}}
        <i class="material-icons">whatshot</i>
      {{/link-to}}
    </li>


    <li>
      {{#link-to 'index'}}
        <i class="material-icons" style="color:red">favorite_border</i>
      {{/link-to}}
    </li>


    <li>
      {{#link-to 'index'}}
        <i class="material-icons" style="color:black">people_outline</i>
      {{/link-to}}
    </li>

  </ul>
</div>
</div>
<!-- <br /> -->
    <!-- <h2 style="text-align:center">{{influencer.firstname}}'s Featured Spark</h2> -->
    <!-- <div class="author-quote-wrap">
    	<input class="toggle-quote" type="radio" id="AQ-1" name="quote" checked>
    	<div class="author-quote">
    		<div class="pull-left author-photo photo-a animated bounceInLeft" style="background-image:url('https://i.imgsafe.org/df9db8c6df.jpg')">
    		</div>
    		<div class="pull-right quote-content">
    			<div class="clearfix animated zoomIn"><div class="quote-like pull-right"><span class="love"></span> 423</div></div>
    			<div class="quote-text animated rotateInDownRight">{{spark.title}}Vegan Clean Eating 30 Day Challenge</div>
    			<div class="quote-author animated lightSpeedIn">{{spark.user.firstname}} {{spark.user.lastname}}Sarah Hartwick</div>
    		</div>
    	</div>
    </div> -->

    <div id="background">
    <div id="gallery">
    <!-- <h2>Live Sparks</h2> -->
    {{#each influencer.sparks as |spark|}}
    {{#link-to 'spark' spark}}
    <figure class="pic1">
      <div class="image" style="background-image: url({{spark.photo}}); height: 55%">
      </div>
      <figcaption><h4 style="text-transform:uppercase; font-family: 'Fjalla One'; color:#0f2436;">{{spark.name}}</h4></figcaption>
      <figcaption><p>{{spark.category}}</p></figcaption>
    </figure>
    {{/link-to}}
    {{/each}}
  </div>
</div>

<div style="text-align:center; margin-bottom:20px; width:100%; clear:both;">
  <ul class="pagination pagination-primary">
    <li><a href="#"><</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="active"><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">></a></li>
  </ul>
  </div>


{{else}}
{{sign-up/new-influencer-form}}
{{/if}}
